.page-template-kiosk header {
	height: 55px;
	overflow: visible;
	z-index: 100;
	position: relative;

	.wp-block-site-logo {
		z-index: 1000;
	}
}

.ud-kiosk-suppe {
	display: none;
}
#ud-kiosk-ausverkauf {
	opacity: 0.2;
}
.tagessuppe {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--wp--preset--color--theme-100);
	position: fixed;
	top: 10px;
	left: 70px;
	#ud-suppe-name {
		font-weight: 600;
	}
}

.wp-block-ud-fade-slider-block {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 55px;
	z-index: 0;
}

.wp-block-ud-fade-slide-item {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity var(--fade-speed, 800ms) ease-in-out;
	z-index: 1; /* Basis-Layer */
}

/* aktiver Basis-Slide */
.wp-block-ud-fade-slide-item.is-active {
	opacity: 1;
	z-index: 2;
}

/* Slide, der gerade überblendet (liegt ganz oben) */
.wp-block-ud-fade-slide-item.is-raising {
	z-index: 3;
}

/* Group-Block im Slide füllt den Viewport */
.wp-block-ud-fade-slide-item .wp-block-group {
	width: 100vw;
	height: 100vh;
}

/* Inhalt in jedem Slide zentrieren */
.wp-block-ud-fade-slide-item {
	display: flex;
	justify-content: center;
}

/* Damit Group-Blocks nicht begrenzt werden */
.wp-block-ud-fade-slide-item .wp-block-group {
	margin: 0 auto;
padding-top: 3rem;
padding-left: 3rem;
padding-right: 3rem;
	max-width: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

